<!DOCTYPE html>
<html>
<head>
  <title>Thewinespill</title>
  <link rel="stylesheet" href="/css/normalize.css">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<nav>
		<ul id="nav-bar">
        <% if logged_in?%>
	        <li class="header-links"><a class="header-links" href="/users/<%=current_user.id%>">Your profile, <%=current_user.username%></a></li>
	        <li class="header-links"><a class="header-links" href="/logout">Logout</a></li>
	        <% else %>
	        <li class="header-links"><a class="header-links" href="/users/new">Register</a></li>
	        <li class="header-links"><a class="header-links" href="/login">Login</a></li>
        <% end %>
      	</ul> </nav>
   <p class="notice"><%= notice %></p>
   <p class="alert"><%= alert %></p>

<%= yield %>
</body>
</html>
